.rotate-video-270 {
  transform: rotate(270deg);
}

.qrcode-reader {
  display: flex;
  flex-direction: column;
}

.qrcode-reader section {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#qr-reader-preview {
  max-width: 100%;
}

.qrcode-reader-viewfinder {
  position: absolute;
  height: 100%;
  width: 100%;
  border: '3em solid rgba(0,0,0,0.3)';
}

.actions-icon-root {
  display: inline-flex;
  justify-content: center;
  margin-top: 1em
}

.actions-icon-root * {
  margin-left: .5em;
  margin-right: .5em;
  cursor: pointer;
}